extends ../layout
block content
  h2= title
  ul
    li
      a(href='/admin/tags/') tag
    li
      a(href='/admin/projects/new') new project
  table(class='table table-bordered')
    caption Project List
    tr
      th title
      th _id
      th vimeos
      th youtubes
      th tags 
      th show
      th edit
      each project in projects
        tr
          td= project.title
          td= project._id
          td= project.vimeos
          td= project.youtubes
          td= project.tags
          td
            a(href='/admin/projects/#{project._id}') show
          td
            a(href='/admin/projects/#{project._id}/edit') edit