extends ../layout

block content
  h4= title
  each project in projects
    .media
      a.pull-left(href='/admin/projects/#{project.id}')
        if project._contents.length
          img.media-object.img-polaroid(style='width: 100px;', src='/contents/#{project._contents[0]._id}/image')
        else
          img.media-object.img-polaroid(style='width: 100px;')
      .media-body
        .media-heading: h4= project.title || 'Untitled'
        p.btn-group.pull-right
          a.btn.btn-small(href='/admin/projects/#{project._id}')
            | Show
          a.btn.btn-small.btn-primary(href='/admin/projects/#{project._id}/edit')
            i.icon-white.icon-pencil 
            | Edit
        p.pull-right: i: small= moment(project.created).fromNow()
        p: small= project.tags.join(', ')
        p(style='white-space: pre; min-height: 2em;')= project.description
    hr