extends ../layout

block content
  h4= project.title || 'Untitled'
  table.table.table-condensed(data-project=JSON.stringify(project))
    tbody
      tr
        th description
        td(style='white-space: pre;')= project.description
      tr
        th credit
        td(style='white-space: pre;')= project.credit
      tr
        th tags
        td= project.tags.join(', ')
      tr
        th created
        td= project.created
      tr
        th updated
        td= project.updated

  each content in project._contents
    .media
      a.pull-left
        img.media-object.img-polaroid(src=content.toDataURL(), style='width: 100px;')
      .media-body
        strong.media-heading= content.title || 'Untitled'
        if content.url
          p: small: a(href=content.url)= content.url
        else
          p: small No URL given.
  
  .form-actions
    a.btn.btn-small(href='/admin')
      i.icon-chevron-left
      | Back