- if (layout)
  extends ../layout

block content
  h2= title
  
  table
    th title
    th _id
    th show
    th edit
    
    each project in projects
      tr
        td= project.title
        td= project._id        
        td
          a(href='/admin/projects/#{project._id}') show
        td
          a(href='/admin/projects/#{project._id}/edit') edit
